.card {
  width: 80%;
  height: auto;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background: linear-gradient(to bottom right, #DC4C11, #FDA92E);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card-title {
  font-size: 29px;
  font-weight: bold;
  margin-top: 0;
  font-family: helvetica;
  margin-bottom: 20px;
}

.card-content {
  font-size: 18px;
  font-family: helvetica;
  color: lightgrey;
  line-height: 1.5;
  margin-bottom: 20px;
}

.card-button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: helvetica;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card-button:hover {
  background-color: #404040;
}
