    
      body {
        background-color: #ffffff; /* Ajout de la couleur d'arrière-plan */
      }    
      
      .image-container {
        position: relative;
        display: inline-block;
      }

      .title-container {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        font-family: Helvetica, sans-serif; /* Ajout de la police Helvetica */
      }
      
      h2 {
        text-align: center;
        margin: 0;
        padding: 10px;
        font-family: Helvetica, sans-serif; /* Ajout de la police Helvetica */
      }
      
      a {
         color: white;
         text-decoration: none;
      }

      hr.style-one {
         border: 0;
         height: 1px;
         margin: 23px;
         background: #ffffff;
         background-image: linear-gradient(to right, #ffffff, #696969, #ffffff);
      }
